div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj506 {
position: absolute;
overflow: hidden;
top: 103px;
left: 525px;
width: 18px;
height: 18px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj504 {
position: absolute;
overflow: hidden;
top: 180px;
left: 358px;
width: 18px;
height: 18px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj510 {
position: absolute;
overflow: hidden;
top: 238px;
left: 680px;
width: 18px;
height: 18px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj508 {
position: absolute;
overflow: hidden;
top: 243px;
left: 583px;
width: 18px;
height: 18px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj502 {
position: absolute;
overflow: hidden;
top: 34px;
left: 132px;
width: 668px;
height: 631px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj502_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 668px;
	height: 631px;
}
div#obj1028 {
position: absolute;
overflow: hidden;
top: 43px;
left: 0px;
width: 1366px;
height: 724px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj1028_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1366px;
	height: 724px;
}
div#obj444 {
position: absolute;
overflow: hidden;
top: 55px;
left: 1199px;
width: 138px;
height: 92px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj444_img {
	position: absolute;
	left: -6px;
	top: -4px;
	width: 150px;
	height: 100px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj469 {
position: absolute;
overflow: hidden;
top: 70px;
left: 40px;
width: 198px;
height: 245px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj469_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 198px;
	height: 245px;
}
div#obj485 {
position: absolute;
overflow: hidden;
top: 458px;
left: 728px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj485_img {
	position: absolute;
	left: -19px;
	top: -19px;
	width: 113px;
	height: 113px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj467 {
position: absolute;
overflow: hidden;
top: 459px;
left: 1240px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj467_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 75px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj495 {
position: absolute;
overflow: hidden;
top: 461px;
left: 267px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj495_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 75px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}

div#obj628 {
position: absolute;
overflow: hidden;
top: 5px;
left: 649px;
width: 316px;
height: 33px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 18px;
color: #FFFFFF;
}

div#obj628_content {

}
div#obj434 {
position: absolute;
overflow: hidden;
top: 8px;
left: 1003px;
width: 268px;
height: 33px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj434_content {

}
div#obj432 {
position: absolute;
overflow: hidden;
top: 15px;
left: 70px;
width: 294px;
height: 20px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 12px;
color: #FFFFFF;
}

div#obj432_content {

}
div#obj516 {
position: absolute;
overflow: hidden;
top: 55px;
left: 397px;
width: 275px;
height: 45px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #C73568;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
color: #000000;
text-align: center;
}

div#obj516_content {

}
div#obj442 {
position: absolute;
overflow: hidden;
top: 88px;
left: 1094px;
width: 140px;
height: 35px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj442_content {

}
div#obj514 {
position: absolute;
overflow: hidden;
top: 129px;
left: 216px;
width: 159px;
height: 45px;
opacity: 1;
z-index: 30;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #007EFF;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
color: #000000;
text-align: center;
}

div#obj514_content {

}
div#obj453 {
position: absolute;
overflow: hidden;
top: 146px;
left: 821px;
width: 449px;
height: 37px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #000000;
}

div#obj453_content {

}
div#obj451 {
position: absolute;
overflow: hidden;
top: 182px;
left: 794px;
width: 478px;
height: 280px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #000000;
}

div#obj451_content {

}
div#obj473 {
position: absolute;
overflow: hidden;
top: 217px;
left: 34px;
width: 215px;
height: 27px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 16px;
color: #000000;
}

div#obj473_content {

}
div#obj471 {
position: absolute;
overflow: hidden;
top: 253px;
left: 48px;
width: 181px;
height: 35px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #000000;
text-align: center;
}

div#obj471_content {

}
div#obj520 {
position: absolute;
overflow: hidden;
top: 260px;
left: 574px;
width: 203px;
height: 45px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #17B1C1;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
color: #000000;
text-align: center;
}

div#obj520_content {

}
div#obj518 {
position: absolute;
overflow: hidden;
top: 265px;
left: 465px;
width: 255px;
height: 45px;
opacity: 1;
z-index: 32;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #FF9616;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
color: #000000;
text-align: center;
}

div#obj518_content {

}
div#obj497 {
position: absolute;
overflow: hidden;
top: 487px;
left: 135px;
width: 124px;
height: 33px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj497_content {

}
div#obj489 {
position: absolute;
overflow: hidden;
top: 487px;
left: 582px;
width: 147px;
height: 33px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj489_content {

}
div#obj465 {
position: absolute;
overflow: hidden;
top: 487px;
left: 1095px;
width: 138px;
height: 24px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj465_content {

}
div#obj493 {
position: absolute;
overflow: hidden;
top: 510px;
left: 88px;
width: 211px;
height: 106px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FCF3F6;
padding: 20px;
color: #000000;
}

div#obj493_content {

}
div#obj487 {
position: absolute;
overflow: hidden;
top: 510px;
left: 363px;
width: 406px;
height: 208px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #F1FAFB;
padding: 20px;
color: #000000;
}

div#obj487_content {

}
div#obj461 {
position: absolute;
overflow: hidden;
top: 514px;
left: 800px;
width: 473px;
height: 204px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFF9F1;
padding: 20px;
color: #000000;
}

div#obj461_content {

}



div#obj430 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 982px;
height: 42px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #007EFF;
background-repeat: repeat;
}
div#obj428 {
position: absolute;
overflow: hidden;
top: 0px;
left: 981px;
width: 385px;
height: 42px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #1D2630;
background-repeat: repeat;
}
div#obj440 {
position: absolute;
overflow: hidden;
top: 84px;
left: 1083px;
width: 192px;
height: 39px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #007EFF;
background-repeat: repeat;
}
div#obj499 {
position: absolute;
overflow: hidden;
top: 481px;
left: 88px;
width: 212px;
height: 39px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #C73568;
background-repeat: repeat;
}
div#obj491 {
position: absolute;
overflow: hidden;
top: 481px;
left: 578px;
width: 192px;
height: 39px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #17B1C1;
background-repeat: repeat;
}
div#obj463 {
position: absolute;
overflow: hidden;
top: 481px;
left: 1006px;
width: 268px;
height: 39px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #FF9616;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
