div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj169 {
position: absolute;
overflow: hidden;
top: 46px;
left: 27px;
width: 293px;
height: 363px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj169_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 293px;
	height: 363px;
}
div#obj151 {
position: absolute;
overflow: hidden;
top: 50px;
left: 1194px;
width: 138px;
height: 92px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj151_img {
	position: absolute;
	left: -6px;
	top: -4px;
	width: 150px;
	height: 100px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj161 {
position: absolute;
overflow: hidden;
top: 339px;
left: 1237px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj161_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 75px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj217 {
position: absolute;
overflow: hidden;
top: 379px;
left: 509px;
width: 45px;
height: 45px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj217_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
}
div#obj196 {
position: absolute;
overflow: hidden;
top: 397px;
left: 603px;
width: 240px;
height: 164px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj196_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 164px;
}
div#obj264 {
position: absolute;
overflow: hidden;
top: 413px;
left: 434px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj264_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 75px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj421 {
position: absolute;
overflow: hidden;
top: 521px;
left: -25px;
width: 618px;
height: 618px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj421_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 618px;
	height: 618px;
}
div#obj182 {
position: absolute;
overflow: hidden;
top: 552px;
left: 1212px;
width: 107px;
height: 107px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj182_img {
	position: absolute;
	left: -22px;
	top: -22px;
	width: 150px;
	height: 150px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj193 {
position: absolute;
overflow: hidden;
top: 563px;
left: 786px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

img#obj193_img {
	position: absolute;
	left: -19px;
	top: -19px;
	width: 113px;
	height: 113px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}

div#obj624 {
position: absolute;
overflow: hidden;
top: 5px;
left: 649px;
width: 316px;
height: 33px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 18px;
color: #FFFFFF;
}

div#obj624_content {

}
div#obj52 {
position: absolute;
overflow: hidden;
top: 8px;
left: 1003px;
width: 268px;
height: 33px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj52_content {

}
div#obj48 {
position: absolute;
overflow: hidden;
top: 15px;
left: 70px;
width: 294px;
height: 20px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 12px;
color: #FFFFFF;
}

div#obj48_content {

}
div#obj148 {
position: absolute;
overflow: hidden;
top: 85px;
left: 1110px;
width: 119px;
height: 24px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj148_content {

}
div#obj60 {
position: absolute;
overflow: hidden;
top: 143px;
left: 821px;
width: 449px;
height: 37px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #000000;
}

div#obj60_content {

}
div#obj58 {
position: absolute;
overflow: hidden;
top: 193px;
left: 723px;
width: 547px;
height: 157px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #000000;
}

div#obj58_content {

}
div#obj175 {
position: absolute;
overflow: hidden;
top: 246px;
left: 70px;
width: 215px;
height: 27px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 16px;
color: #000000;
}

div#obj175_content {

}
div#obj173 {
position: absolute;
overflow: hidden;
top: 272px;
left: 87px;
width: 181px;
height: 106px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #000000;
}

div#obj173_content {

}
div#obj156 {
position: absolute;
overflow: hidden;
top: 365px;
left: 1017px;
width: 213px;
height: 31px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj156_content {

}
div#obj171 {
position: absolute;
overflow: hidden;
top: 390px;
left: 537px;
width: 733px;
height: 177px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: rgba(255,150,22,0.0588235);
padding: 20px;
color: #000000;
}

div#obj171_content {

}
div#obj259 {
position: absolute;
overflow: hidden;
top: 439px;
left: 302px;
width: 124px;
height: 33px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj259_content {

}
div#obj257 {
position: absolute;
overflow: hidden;
top: 462px;
left: 44px;
width: 422px;
height: 105px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: rgba(199,53,104,0.0588235);
padding: 20px;
color: #000000;
}

div#obj257_content {

}
div#obj188 {
position: absolute;
overflow: hidden;
top: 592px;
left: 640px;
width: 147px;
height: 33px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj188_content {

}
div#obj177 {
position: absolute;
overflow: hidden;
top: 592px;
left: 1110px;
width: 119px;
height: 33px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Alexandria-800";
font-size: 21px;
color: #FFFFFF;
}

div#obj177_content {

}
div#obj186 {
position: absolute;
overflow: hidden;
top: 615px;
left: 537px;
width: 290px;
height: 105px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: rgba(23,177,193,0.0588235);
padding: 20px;
color: #000000;
}

div#obj186_content {

}
div#obj184 {
position: absolute;
overflow: hidden;
top: 615px;
left: 844px;
width: 425px;
height: 105px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: rgba(117,72,172,0.0588235);
padding: 20px;
color: #000000;
}

div#obj184_content {

}


div#obj95 {
position: absolute;
overflow: hidden;
top: 33px;
left: 317px;
width: 399px;
height: 376px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

div#obj95 .translated {
	position: absolute;
	top: 0px;
	left: 399px;
	width: 100%;
	height: 100%;
}
div#obj50 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 982px;
height: 42px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #007EFF;
background-repeat: repeat;
}
div#obj54 {
position: absolute;
overflow: hidden;
top: 0px;
left: 981px;
width: 385px;
height: 42px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #1D2630;
background-repeat: repeat;
}
div#obj146 {
position: absolute;
overflow: hidden;
top: 79px;
left: 1078px;
width: 192px;
height: 39px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #007EFF;
background-repeat: repeat;
}
div#obj158 {
position: absolute;
overflow: hidden;
top: 361px;
left: 1003px;
width: 268px;
height: 39px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #FF9616;
background-repeat: repeat;
}
div#obj261 {
position: absolute;
overflow: hidden;
top: 433px;
left: 255px;
width: 212px;
height: 39px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #C73568;
background-repeat: repeat;
}
div#obj190 {
position: absolute;
overflow: hidden;
top: 586px;
left: 636px;
width: 192px;
height: 39px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #17B1C1;
background-repeat: repeat;
}
div#obj179 {
position: absolute;
overflow: hidden;
top: 586px;
left: 1078px;
width: 192px;
height: 39px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #7548AC;
background-repeat: repeat;
}



div#obj206 {
	position: absolute;
overflow: hidden;
top: 390px;
left: 527px;
width: 775px;
height: 343px;
opacity: 0;
z-index: 26;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6078431));
	font-family:inherit;
	font-size:20px;
	text-align:left;

	border-color: #000000;
	border-width: 0px;
	border-style: solid;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #FFFFFF;
}

div#obj206 h1 {
	font-size: 1em;
}

div#obj206 h1.title {
  display: block;
}

div#obj206 .chapter_label {
  font-family:inherit;
  font-size:20px; 
  color: #000000;
}

div#obj206 .chapter_number {
  display: none;
  text-align:center; 
  padding-left: 0px; 
  padding-right: 10px;
}

div#obj206 .counter {
  font-family:inherit;
  font-size:20px; 
  color: #000000;
}

div#obj206 .practice {
	position: absolute;
	top: 0px;
	width: 775px;
	height: 343px;
}

div#obj206 .practicediv{
	margin: 16px;
	width: 743px;
	height: 327px;
}

div#obj206 .practice > header{
	display:none;
}

div#obj206 .practicelist{
	padding:0;
}

div#obj206  .multiple-choice-problem{
	list-style-type: none;
	visibility: hidden;
}

div#obj206  .practicediv .choices{
	padding:0;
}

div#obj206 .practicediv .choices li{
	margin-left: 60px;
	margin-right: 60px;
}

div#obj206 .practicediv .choices .choice-content {
	margin-left: 6px;
}

/* BOTTONI */
div#obj206 .quiz-buttons{
	display: block;
	position:relative;
	z-index: 2;
	bottom: 30px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-family: inherit;
	font-size: 20px;
	color: #000000;
}

div#obj206 .swiper-container .quiz-buttons{
	display: inline-block;
	position: relative;
	bottom: 0px;
	margin-top: 57.16667px;
	text-align: center;
	height: 30px;
}

div#obj206 button.quiz-button {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	border: 1px solid #979797;
	border-radius: 6px;
	font-family: inherit;
	font-size: 20px;
	color: #000000;
}

div#obj206 .messaggio-finale{
	width:80%;
	margin:0 auto;
	text-align: center;
}

div#obj206 .conteggio-finale{
	width: 100%;
	text-align: center;
	margin-top: 0.8em;
	font-family: inherit;
	font-size: 20px;
	color: #000000;
}
div#obj206 .conteggio-finale div{
	width: 22px;
	text-align: center;
}


div#obj206 .finale-quiz {
	display: inline-block;
	margin-right: 4px;
	vertical-align: middle;
}

div#obj206 .finale-quiz-choice-right{
	background-image : url("../../images/scquiz-check-right.png");
	background-size: 22px 22px;
	background-repeat:  no-repeat;
	width: 22px;
	height: 22px;
}
div#obj206 .finale-quiz-choice-wrong{
	background-image : url("../../images/scquiz-check-wrong.png");
	background-size: 22px 22px;
	background-repeat:  no-repeat;
	width: 22px;
	height: 22px;
	margin-left: 20px;
}
div#obj206 .finale-quiz-choice-missed{
	background-image : url("../../images/scquiz-check-off.png");
	background-size: 22px 22px;
	background-repeat:  no-repeat;
	width: 22px;
	height: 22px;
	margin-left: 20px;
}

div#obj206 label.css-label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#obj206 .arrow-left {
	  background: url(../../images/scquiz-prev.png) no-repeat;
	  background-size: 50px 50px;
	  position: absolute;
	  left: 5px;
	  top: 50%;
	  margin-top: -25px;
	  width: 50px;
	  height: 50px;
	  z-index: 2;
	  display: none;
}
div#obj206 .arrow-right {
	  background: url(../../images/scquiz-next.png) no-repeat;
	  background-size: 50px 50px;
	  position: absolute;
	  right: 5px;
	  top: 50%;
	  margin-top: -25px;
	  width: 50px;
	  height: 50px;
	  z-index: 2;
	  display: none;
}

/* CHECKBOX UNCHECKED*/
div#obj206 input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 22px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 3px;
	min-height: 30px;
	line-height: 30px;
	vertical-align: top;
	cursor: pointer;
}
div#obj206 input[type=radio].css-checkbox + label.css-label {
	padding-left: 22px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 3px;
	min-height: 30px;
	line-height: 30px;
	vertical-align: top;
	cursor: pointer;
}

div#obj206 input[type=checkbox].css-checkbox,
div#obj206 input[type=radio].css-checkbox{
	display: none;
}

/* esempio di personalizzazione del tipo di elenco*/
div#obj206 .multiple-choice-problem .choices li{
  list-style-type:none;
}


/* CHECKBOX */

div#obj206 label.css-label.lb-checkbox{
	background-image : url("../../images/scquiz-check-off.png");
	background-size: 22px 22px;
}
div#obj206 input[type=checkbox].css-checkbox:checked + label.css-label.lb-checkbox{
	background-image : url("../../images/scquiz-check-on.png");
	background-size: 22px 22px;
}

div#obj206 .quiz-choice-wrong input[type=checkbox].css-checkbox + label.css-label.lb-checkbox{
	background-image : url("../../images/scquiz-check-wrong.png");
	background-size: 22px 22px;
}

div#obj206 .quiz-choice-right input[type=checkbox].css-checkbox + label.css-label.lb-checkbox {
	background-image : url("../../images/scquiz-check-right.png");
	background-size: 22px 22px;
}
div#obj206 .quiz-choice-missed input[type=checkbox].css-checkbox + label.css-label.lb-checkbox {
	background-image : url("../../images/scquiz-check-missed.png");
	background-size: 22px 22px;
}


/* RADIO */

div#obj206 label.css-label.lb-radio{
	background-image : url("../../images/scquiz-radio-off.png");
	background-size: 22px 22px;
}
div#obj206 input[type=radio].css-checkbox:checked + label.css-label.lb-radio {
	background-image : url("../../images/scquiz-radio-on.png");
	background-size: 22px 22px;
}

div#obj206 .quiz-choice-wrong input[type=radio].css-checkbox + label.css-label.lb-radio {
	background-image : url("../../images/scquiz-radio-wrong.png");
	background-size: 22px 22px;
}

div#obj206 .quiz-choice-right input[type=radio].css-checkbox + label.css-label.lb-radio {
	background-image : url("../../images/scquiz-radio-right.png");
	background-size: 22px 22px;
}
div#obj206 .quiz-choice-missed input[type=radio].css-checkbox + label.css-label.lb-radio {
	background-image : url("../../images/scquiz-radio-missed.png");
	background-size: 22px 22px;
}

/* FONTS */
div#obj206 div.question p {
	font-family: inherit;
	font-size: 20px;
	color: #000000;
}
div#obj206 span.choice-content {
	font-family: inherit;
	font-size: 20px;
	color: #000000;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
